* {
	font-family: "Montserrat";
	font-style: normal;
}

body {
	margin: 0;
	background: #FFFFFF;
}

a {
	text-decoration: None;
}

.sec {
	display: flex;
}

.big_container {
    background: #EAEAEA;
	position: absolute;
    max-width: 1200px;
    padding: 20px 5px;
    border-radius: 30px;
	margin: 0 auto;
	margin-bottom: 250px;

	box-shadow: 1px 4px 13px 2px
	rgba(0, 0, 0, 0.25);

	width: 60%;
    height: 960px;
    left: 22%;
    top: 236px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.app-container{
    position: absolute;
 	background: #FFFFFF;
 	padding: 20px 5px;

 	margin: 0 auto;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 25px;

	width: 59%;
    height: 841px;
    left: 22.5%;
    /*right: 9%;*/
    top: 300px;
}



button {
  border: none;
}

.btn {
    background: #FF6933;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

	font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 128.9%;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.bwhite{
    background: #ffffff;
    
}

.borang{
    background: #FF6933;
    color: #FFFFFF;
   
}

.outer {
    display: flex;
    flex-direction: row;
    
}

.outer1{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    flex-wrap: wrap;
}

.outer2{
    display: flex;
    flex-direction: row;
    
}

.main-block{
    display: flex;
    flex-direction: row;
     flex-wrap: wrap;
}

.block{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    flex-wrap: wrap;
    left: 240px;
   
    
}

s

.komy{
	display: flex;
    flex-direction: column;

	left: 240px;
}

.block-klass{
	/* position: absolute; */
	width: 265px;
	height: 255px;
	left: 534px;

	background: #EAEAEA;
	box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	margin-top: 15px;
}

.klass{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	font-variant: small-caps;

	color: #484C52;

}

.main-block h2{
	max-width: 300px;
	flex-grow: 1;
}

.main-block button{
	margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align="center"

    width: 250px;
    height: 30px;
}

.left-board{
    text-align: left;
}

.classic{
    font-weight: 400;
    font-size: 24px;
    background: #FFFFFF;


    margin: 0px 8px;

    display: flex;
    align-items: center;
}


.title{
	flex-grow: 1;
	margin-left: 50px;
    width = 10.00;
    height = 10.00;
    flex-wrap: wrap;
}



.line {
	display: flex;
	flex-grow: 1;
    /* position: absolute; */
    width: 60%;
    height: 0px;
    left: 410px;
    top: 674px;

	margin: 0 0 0 15%;

    border: 1px solid rgba(72, 76, 82, 0.5);

	
}





.sign-button {
	margin-left: 55px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sign-button img{
	width: 50px;
	height: 50px;
	margin-left: 12px;
	border: 4px solid #FF6933;
	border-radius: 27px;
}
.sign-button button{
	align-self: center;
	width: 79px;
	height: 26px;
	align-self: center;

	background: #FF6933;
	border-radius: 20px;
	color: #FFFFFF;
	border: 0px;
}
.sign-button button:hover {
	color: #FF6933;
	background: #FFFFFF;
}
.sign-btn{
	display: block;
	align-self: center;
}
h1{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 128.9%;
  text-align: center;


  color: #484C52;
}

h2{
     margin: 0 0 0 5px ;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 128.9%;
    text-transform: uppercase;

    color: #484C52;
}


.btn-in-profile{
	background: #FF6933;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 9px 9px 10px 20px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 128.9%;
	border: 0;
	color: #FFFFFF;

	display: flex;
	flex-direction: row;
	justify-content: center;
}
.btn-in-profile img{
	align-self: center;
	margin: 0px 8px;
	transition: all 0.3s ease 0s;

}
.box.active .btn-in-profile img{
	transition: all 0.3s ease 0s;
	transform: rotate(90deg);
}
.profile-box-title{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 128.9%;
	color: #484C52;
	flex-grow: 1;
	padding-left: 36px;
	padding-top: 18px;
	text-align: left;
}
.profile-box-content{
	display: flex;

}
.profile-box-info{
	background: #FFFFFF;
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	margin-top: 17px;
}
.profile-box{
	margin-top: 64px;
	margin-bottom: 50px;
	background: #EAEAEA;
	box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	display: none;
	flex-direction: column;
	position: relative;

	max-width: 854px;

	padding-left: 64px;
	padding-right: 10px;
	padding-bottom: 11px;

	transform: scale(0);
	transition: all 0.3s ease 0s;
	transform-origin: top;
}
.class-box.active .profile-box{
	display: flex;
	flex-direction: column;
	position: relative;
	transform: scale(1.0);
	transition: all 0.3s ease 0s;
	transform-origin: top;
}
.student-box{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 34px;
}
.student-img{
	width: 50px;
	height: 50px;
	border-radius: 27px;
	border: 4px solid #FF6933;
	overflow: hidden;
}
.student-name{
	align-self: center;
	margin-left: 16px;
	font-weight: 400;
	font-size: 24px;
	line-height: 128.9%;

	color: #484C52;
}
.student-delete{
	margin-left: 42px;
	align-self: center;
	width: 40px;
	height: 40px;
	background: #FF6933;
	border-radius: 20px;
	text-align: center;
}
.student-delete img {
	width: 18px;
	height: 20px;
	align-self: center;
	padding-top: 10px;
}
.student-add{

	margin-top: 34px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 128.9%;

	color: #484C52;
}
.student-add button{
	font-weight: 600;
	font-size: 20px;
	line-height: 128.9%;
	padding: 2px 11px 2px 1px;

	color: #FFFFFF;

}
.plus-img{
	width: 26.67px;
	height: 26.67px;
	transform: rotate(-90deg)
}
.class-box{
	text-align: left;
	position: relative;
	flex-shrink: 1;
	margin-bottom: 46px;
}

.student-add *{
	margin-right: 30px;
}


dd{
	font-weight: 400;
	font-size: 24px;
	line-height: 128.9%;

	display: flex;
	align-items: center;

	margin-top: 10px;
	padding: 20px 5px;
}


textarea {
    width: 74%; 
    height: 175px; 
    resize: none; /* Запрещаем изменять размер */
	background-color: #D9D9D9;
    flex-wrap: wrap;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 128.9%;
     min-width: 220px;
   } 

input{
	width: 54.5%;
	background-color: #D9D9D9;
     
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 128.9%;
    min-width: 150px;
}
.disciplinetwo{
    flex-wrap: wrap;
}
